body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f1f1f1;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.home-bttn{
  display: block;
  flex-wrap: wrap;
  
}

/* css for testimonials before*/
.testimonials-container{
  padding-top: 100px;
}
.carousel-root {
  width: 64% !important;
  margin: auto !important;
  margin-top: 3% !important;
}

.carousel .slide {
  background: #fff !important;
  color: black;
  height: 100%;
}

.carousel .slide img {
  width: 139px !important;
  border-radius: 50%;
}

.myCarousel {
  background: #fafafa;
  margin-top: -6%;
  width: 54%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 6%;
  padding-bottom: 8%;
  padding-left: 5%;
  padding-right: 5%;
  border: 1px solid #ddd;
  height: 286px;
}

.carousel .control-dots {
  padding-left: 5px !important;
  outline: 0;
  bottom: 5% !important;
}

.myCarousel h3 {
  color: #222;
  font-weight: 100;
  letter-spacing: 0.2px;
  margin-bottom: 4px;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 17px;
}

.myCarousel h4 {
  text-transform: uppercase;
  margin-top: 0;
  padding-top: 0;
  font-weight: 500;
  color: #787878;
  font-size: 14px;
}

.myCarousel p {
  font-weight: 100 !important;
  line-height: 29px !important;
  color: #222;
  font-size: 15px;
  font-family: sans-serif;
  max-height: 67px;
}

.myCarousel p:before {
  content: "“";
  color: #aaa;
  font-size: 26px;
  font-family: monospace;
  font-weight: 100;
}

.myCarousel p:after {
  content: "”";
  color: #aaa;
  font-size: 26px;
  font-family: monospace;
  font-weight: 100;
  line-height: 0;
}

.carousel .control-dots .dot {
  box-shadow: none !important;
  background: #454545 !important;
  outline: 0;
}

.carousel.carousel-slider .control-arrow {
  background: #000 !important;
  height: 50px !important;
  position: absolute;
  top: 35% !important;
}

.App {
  text-align: center;
}

@media only screen and (max-width: 934px) {
  .carousel-root {
    outline: 0;
    width: 93% !important;
    margin: auto !important;
  }

  .carousel.carousel-slider .control-arrow {
    display: none !important;
  }
  .myCarousel {
    background: #fafafa;
    margin-top: -9%;
    width: 88%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 8%;
    padding-bottom: 12.5%;
    padding-left: 5%;
    padding-right: 5%;
    border: 1px solid #ddd;
    height: 269px;
  }

  .carousel .slide img {
    width: 24% !important;
    border-radius: 50%;
  }
}

/* Navbar css */
.navbar-container{
  padding:5px;
  width:100%;
}
.navbar-logo, #navbar-search{
  float:left;
  padding:10px;
}
.navbar-input{
  width:300px;
}
#navbar-search{
  margin-left: 100px;
  width:50%;
}
.navbar-buttons, #nav-button{
  float:right;
}
.navbar-logo{
  display:inline-flex;
}
.logo-text{
  font-family:Arial, Helvetica, sans-serif;
  font-size: 100px;
  font-weight: bold;
  color:white;
  text-shadow:
   -1px -1px 0 rgb(222,88,90),  
    1px -1px 0 rgb(222,88,90),
    -1px 1px 0 rgb(222,88,90),
     1px 1px 0 #000;
}

/*Register component styling*/
.register-container.input-box, .createprofile-container.input-box, .createpost-container.input-box{
  margin-top: 100px;
}

/* Profile component styling */
.profile-container{
  width: 100%;
  margin-top:100px
  
}

.card.mb-3{
  width:100%;
}

.profile-details{
  margin-top: 30px;

}


.profile-details img{
  border-radius: 50%;
  height:300px;
  width:300px;
}

.btn-group button{
  margin-left: 25px;
  
}

.createpost-container{
  margin-top:40px;
}

.activities-span{
  margin-left:25px;
}

/* CreatePost component styling */
.posts.input-box{
  margin-top: 5px;
}
.card-img-top{
  width:100%;
}

.profile-all{
  text-align: center;
}
.card-img-top {
  width: 45%;
  height: 40vh;
  object-fit: cover;
 
}

/* Home component styling */
.home-container.input-box{
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  width:50%;

}
.d-block.w-100{
  opacity: 0.85;
}
.carousel-label{
  text-shadow:
   -1px -1px 0 rgb(222,88,90),  
    1px -1px 0 rgb(222,88,90),
    -1px 1px 0 rgb(222,88,90),
     1px 1px 0 #000;
     font-size:250%;
}

/* Login  component styling */

.login-container.input-box{
  position: absolute;
  top: 40%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}
/* Register component styling */
.register-container.input-box{
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}














